.container {
	background-color: #000000;
	color: #fff;
	width: 100%;
	min-height: 100vh;
	text-align: center;
	display: grid;
	place-content: center;
}
.signInCard div {
	padding: 0.75rem 0 0;
}
.mainSignIn h4 {
	margin: 0.8rem 0 0 0;
}
.miscContainer {
	margin: 2rem 0;
}

.miscContainer span {
	margin: 0.5rem;
}
.buttonContainer .signIn {
	padding: 1rem 7rem;
	margin: 2.5rem 0 1rem 0;
	font-weight: bolder;
	background-color: #fff;
	color: rgb(0, 0, 0);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: all 0.2s;
	cursor: pointer;
	border-radius: 5px;
}

.buttonContainer .signIn:hover {
	background: #ffba52;
	color: #fff;
}

.input {
	height: 3rem;
	width: 100%;
	margin: 0 0 1rem 0;
	text-align: center;
	box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
		rgba(240, 46, 170, 0.3) 10px 10px,
		rgba(240, 46, 170, 0.2) 15px 15px;
}

.input:focus {
	outline: none;
}

.createAccountLink {
	padding: 1rem;
	font-weight: bolder;
	background-color: #fff;
	color: rgb(0, 0, 0);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: all 0.2s;
	border: 2px solid #ec3333;
	border-radius: 5px;
}

.createAccountLink:hover {
	background: #00ff00;
	background: linear-gradient(
		to left,
		#00ff00 0%,
		#00ffff 100%
	);
	color: #fff;
	border: 2px solid #ffba52;
}

.outputContainer {
	text-align: center;
}

.outputFailure {
	color: rgb(255, 0, 0);
	font-size: 1.2rem;
	font-weight: bold;
}

.warningContainer {
	margin: 0;
	height: 1rem;
}
.warning {
	color: #fff;
	font-size: 0.85rem;
	font-weight: bolder;
}

@media (max-width: 425px) {
	.container {
		padding: 0 2rem;
		margin: 0;
	}

	.createAccountLink {
		padding: 0.75rem 0.75rem;
	}
	.miscContainer span {
		display: block;
	}

	.buttonContainer .signIn {
		padding: 1rem 6rem;
	}
}
