.mainContainer {
	padding: 0 2.5rem;
	margin: 0 0 5rem 0;
}
.movieContainer {
	text-align: center;
	padding: 1rem;
	border: 3px solid #ffba52;
	background-color: #000000;
	color: #ffffff;
	border-radius: 0.5rem;
}
.header {
	margin: 1rem 0;
}
.moviePoster {
	filter: drop-shadow(0px 0px 5px#ffba52);
}
.synopsis,
.date {
	color: #ff2c2c;
	font-weight: bold;
}
.overview {
	margin: 1.5rem;
}
.movieDataOutput {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.85rem;
}
.attrLogo {
	margin: 5rem 0 0 0;
	display: flex;
	place-content: center;
}
.attrLogo img {
	width: 5%;
	height: 100%;
}
.attr {
	padding: 1.5rem 20rem 0 20rem;
	text-align: center;
	font-weight: bold;
	background-image: linear-gradient(
		to right bottom,
		#90cea1,
		#74ccac,
		#56c8ba,
		#33c4c8,
		#00bed6,
		#00adcf,
		#009dc6,
		#198cbb,
		#1d709b,
		#1b557c,
		#163c5d,
		#0d253f
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.content {
	padding: 1rem 0;
}

@media (max-width: 425px) {
	.mainContainer {
		padding: 0;
		margin: 0;
	}
	.movieDataOutput {
		display: block;
		font-size: 0.75rem;
	}

	.attrLogo img {
		width: 20%;
		height: 100%;
	}
	.attr {
		padding: 0;
		margin: 1.5rem 0;
	}
	.movieContainer {
		margin: 0.3rem;
	}
}

@media (min-width: 426px) and (max-width: 768px) {
	.movieDataOutput {
		grid-template-columns: repeat(2, 1fr);
		font-size: 0.75rem;
	}
	.mainContainer {
		padding: 0 0.75rem;
		margin: 0;
	}
	.attrLogo img {
		width: 20%;
		height: 100%;
	}
	.attr {
		padding: 0;
		margin: 1.5rem 0;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.mainContainer {
		padding: 0 2rem;
		margin: 0;
		font-size: 0.85rem;
	}
	.attrLogo img {
		width: 10%;
		height: 100%;
	}
	.attr {
		padding: 0 2rem;
		margin: 1.5rem 0;
	}
}
