.container {
	text-align: center;
	background: #000000;
	min-height: 100vh;
	display: grid;
	place-content: center;
}
.error {
	font-size: 5rem;
	background: #00ff00;
	background: linear-gradient(
		to left,
		#00ff00 0%,
		#00ffff 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.p {
	margin: 1.2rem 0;
	font-size: 2rem;
	background: #00ff00;
	background: linear-gradient(
		to left,
		#00ff00 0%,
		#00ffff 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
	.error {
		font-size: 10rem;
	}

	.p {
		font-size: 6rem;
	}
}
