.mainContainer {
	padding: 0 7rem;
	margin: 0 0 7.15rem 0;
}
.youTubeContainer {
	text-align: center;
	padding: 1rem;
	margin: 0.5rem;
	border: 3px solid #ffba52;
	background-color: #242424;
	color: #ffffff;
}

.youtubeDataOutput {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	font-weight: bold;
}

.player {
	margin: 1rem 0;
}
.content {
	padding: 1rem 0;
}
.snippetTitle {
	color: #6f00ff;
}
@media (max-width: 425px) {
	.mainContainer {
		padding: 0 7rem;
		margin: 0 0 7.15rem 0;
	}
}

@media (max-width: 425px) {
	.mainContainer {
		padding: 0;
		margin: 0;
	}
	.youtubeDataOutput {
		display: block;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.mainContainer {
		padding: 0 2rem;
		margin: 0;
	}
}
