.topContainer {
	text-align: center;
	margin: 3rem 0;
	font-weight: bold;
}
.topContainer .form {
	margin: 2rem;
}
.topContainer .search {
	margin: 0.5rem;
	width: 43rem;
	height: 3rem;
	font-size: 1.2rem;
	border-radius: 7px;
	text-indent: 0.55rem;
}
.btnContainer {
	margin: 1rem;
}
.searchButton {
	padding: 0.75rem;
	margin: 1rem 0;
	font-weight: bolder;
	background-color: #fff;
	color: rgb(0, 0, 0);
	text-align: center;
	display: inline-block;
	transition: all 0.2s;
	border: 2px solid #000000;
	border-radius: 8px;
	width: 10%;
}
.searchButton:hover {
	background: #00ff00;
	background: linear-gradient(
		to left,
		#00ff00 0%,
		#00ffff 100%
	);
	color: #fff;
	border: 2px solid #ffba52;
}

@media (max-width: 425px) {
	.topContainer .search {
		margin: 0;
		width: 100%;
		font-size: 1rem;
		height: 2.5rem;
	}
	.searchButton {
		padding: 0.5rem 0;
		width: 45%;
	}
	.header {
		font-size: 1.35rem;
	}
	.para {
		font-size: 0.8rem;
		padding: 0 1rem;
	}
}

@media (min-width: 426px) and (max-width: 767px) {
	.topContainer .search {
		margin: 0;
		width: 100%;
	}
	.searchButton {
		padding: 0.85rem 0;
		width: 30%;
	}
	.para {
		font-size: 0.8rem;
		padding: 0 1rem;
	}
}
@media (min-width: 768px) {
	.searchButton {
		width: 20%;
	}
	.topContainer .search {
		margin: 0;
	}
}
@media (min-width: 992px) {
	.searchButton {
		width: 20%;
	}
}
@media (min-width: 1200px) {
	.searchButton {
		width: 10%;
	}
}
