.mainContainer {
	padding: 0 2.5rem;
	margin: 0 0 5rem 0;
}

.newsDataOutput {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
}

.content {
	overflow: hidden;
}
.newsContainer {
	text-align: center;
	padding: 1rem;
	border: 3px solid #ffba52;
	background-color: #000000;
	color: #ffffff;
	border-radius: 0.85rem;
}
.content {
	padding: 1rem 0;
	margin: 1rem 0;
}
.header {
	margin: 1rem 0;
}
.newsPoster {
	filter: drop-shadow(0px 0px 5px#ffba52);
}
@media (max-width: 425px) {
	.mainContainer {
		padding: 0;
		margin: 0;
	}
	.newsDataOutput {
		display: block;
		font-size: 0.75rem;
	}
	.newsContainer {
		margin: 0.3rem;
	}
}

@media (min-width: 426px) and (max-width: 768px) {
	.newsDataOutput {
		grid-template-columns: repeat(
			auto-fit,
			minmax(35%, 1fr)
		);
		font-size: 0.75rem;
	}
	.mainContainer {
		padding: 0 0.75rem;
		margin: 0;
	}
}
@media (min-width: 769px) and (max-width: 1023px) {
	.mainContainer {
		padding: 0 2rem;
		margin: 0;
		font-size: 0.85rem;
	}
	.newsDataOutput {
		grid-template-columns: repeat(
			auto-fit,
			minmax(30%, 1fr)
		);
		font-size: 0.75rem;
	}
}
@media (min-width: 1023px) and (max-width: 1440px) {
	.newsDataOutput {
		grid-template-columns: repeat(
			auto-fit,
			minmax(25%, 1fr)
		);
		font-size: 0.75rem;
	}
}
